<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ejercicio4.css">
</head>
<body>
    <header>
        <h1>Mi pagina web</h1>
    </header>
    <div class="contenedor"> 
        <div>home</div>
        <div>noticias</div>
        <div>contacto</div>
        <div>Sobre mi</div>
    </div>
    <div class="contenedor2">
        <div class="aside">
           <h2>Aside</h2>
           <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas maxime distinctio, doloribus inventore maiores voluptatum quod laudantium rerum odio aliquid sequi ullam doloremque magnam, sint fuga impedit, sunt eligendi commodi.  </P>
    </div>
        <div class="Section">
            <h2>Section</h2>
            <p>Lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem dolore adipisci iure repellat ullam architecto ad a soluta magni error! Culpa non labore distinctio harum, officia omnis eligendi id amet! ipsum dolor sit amet, consectetur adipisicing elit. Maiores iste quisquam, ad molestiae hic eos esse velit magnam iusto ducimus est soluta consequatur numquam fugit in eveniet a totam sequi.</p>
        </div>
    </div>
    <div class="footer">footer</div>
    
</body>
</html>