body {
    margin: 0;
    background-color: antiquewhite;
}

div.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(250, 250, 250);
    padding: 30px;
    border-radius: 10px;
}

div.contenedor>div {
    height: 150x;
    width: 350px;
}

.Imagen {
    height: 100px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
}

.PrimeraParte {
    height: 150x;
    width: 350px;
}

.PrimerCirculo {
    height: 150x;
    width: 350px;
    border-radius: 5px;
    background-color: rgb(249, 242, 247);
    padding: 5px;
}

.terceraParte {}

h3 {
    color: rgb(236, 67, 182);
}

ul li::marker {
    color: rgb(236, 67, 182);
}

ul li ::before {
    content: " ";
    margin-right: 10px;
}

ol li::marker {
    color: rgb(148, 29, 110);
    /* Cambia el color de los números */
}

ol li::before {
    content: " ";
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    /* Asegura que border-spacing funcione */
    width: 100%;
    /* Ancho de la tabla */

    margin: 15px;
}

td {
    padding: 7px;
    /* Espacio dentro de las celdas */
    position: relative;
    border-bottom: 1px solid rgb(236, 67, 182);
}

img {
    height: 100px;
    width: 350px;
    border-radius: 15px;
}